<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotify Lyric Guesser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body style="background-color:#383838">
    <h1 align="center" style="color:white">Spotify Lyric Guessing Game</h1>
    <p align="center" style="color:white">Heavily inspired by lastguess.net</p>
    <div class="center">
        <p align="center" style="color:white">Playlist: {{ roundData['playlist'] }}</p>
        <h1 align="center" style="color:white">"{{ roundData['trackDetails']['lyric'] }}"</h1>
        <table class ='tableCenter'>
            <form class='formText' action="/guess" method="POST">
                <tr>
                    <td>

                        <label for="name" class='formText'> Name </label>
                    </td>
                {% if roundData['correctGuesses']['name'] == None and roundData['remainingGuesses']['name'] < roundData['totalGuesses']%}
                <td>
                    <input type="text" id="name" name="name" class='formBox'>
                </td>
                <td>
                    <label for="name">{{ roundData['remainingGuesses']['name'] }}/{{ roundData['totalGuesses'] }} </label>
                </td>
                {% elif roundData['correctGuesses']['name'] != None %}
                <td class=".cellBackg">
                    <label for="name" class="correctGuess"> {{ roundData['correctGuesses']['name'] }} </label>
                </td>
                {% else %}
                <td class=".cellBackg">
                    <label for="name" class="incorrectGuess"> Out Of Guesses </label>
                </td>
                {% endif %}
                </tr>
                <tr>
                
                <td><label for="artist">Artist </label></td>
                {% if roundData['correctGuesses']['artist'] == None and roundData['remainingGuesses']['artist'] < roundData['totalGuesses']%}
                    <td><input type="text" id="artist" name="artist" class='formBox'></td>
                    <td><label for="artist">{{ roundData['remainingGuesses']['artist'] }}/{{ roundData['totalGuesses'] }}</label></td>
                {% elif roundData['correctGuesses']['artist'] != None %}
                <td class=".cellBackg"><label for="artist" class="correctGuess"> {{ roundData['correctGuesses']['artist'] }} </label></td>
                {% else %}
                <td class=".cellBackg"> <label for="artist" class="incorrectGuess"> Out Of Guesses </label></td>
                {% endif %}
                </tr>
                <tr>

                <td><label for="nextLine">Next line </label></td>
                {% if roundData['correctGuesses']['nextLine'] == None and roundData['remainingGuesses']['nextLine'] < roundData['totalGuesses']%}
                <td class=".cellBackg"> <input type="text" id="nextLine" name="nextLine" class='formBox'></td>
                 <td> <label for="nextLine">{{ roundData['remainingGuesses']['nextLine'] }}/{{ roundData['totalGuesses'] }} </label></td>
                 {% elif roundData['correctGuesses']['nextLine'] != None %}
                <td class=".cellBackg"><label for="nextLine" class="correctGuess"> {{ roundData['correctGuesses']['nextLine'] }} </label></td>
                {% else %}
                <td class=".cellBackg"><label for="nextLine" class="incorrectGuess"> Out Of Guesses </label></td>
                {% endif %}
                </tr>
                <tr>
                    <td><label for="submit">Submit </label></td>
                    <td><input type="submit" name="button" value="{{button['text']}}" class="gameButton"></td>
                    <td><input type="submit" name="button" value="Give Up" class="gameButton" ></td>
                </tr>
            </form>
        </table>

          <p align="center" style="color:white">Score: {{ roundData['score'] }}</p>
          <p align="center" style="color:white">Round {{ roundData['round'] }} of {{ roundData['totalRounds'] }}</p>
    </div>


</body>
</html>