<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Lyric Guesser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"> 
  </head>
  <body>
    <h1 align="center" >Spotify Lyric Guessing Game</h1>
    <p align="center">Heavily inspired by lastguess.net</p>
    <p align="center" style="color:red">{{ message }}</p> {# Display errors (if any) #}
    <table class ='tableCenter'>
      <form class="center" action='/setup' method="POST">
        <tr>
          <td>
            <label for="gameMode">Game Mode:</label>
          </td>
          <td>
            <input type="radio" id="vs" name="gameMode" value="vs">
            <label for="vs">VS</label>
            <input type="radio" id="coop" name="gameMode" value="coop">
            <label for="coop">Co-op</label>
          </td>
          </tr>
          <tr>
            <td>
              <label for="playerCount">Number of Players:</label>
            </td>
            <td>
              <input type="playerCount" id="playerCount" name="playerCount">
            </td>
          </tr>
          <tr>
          <td colspan="2">
            <input type="submit" value="Lets Go!" class="gameButton">
          </td>
          </tr>
          </form>
    </table>
    
    <table class ='safeMarginBox'>
      <h2>Modes Explained</h2>
      <tr>
        <td><h3>VS Mode</h3></td>
        <td><h3>Co-op Mode</h3></td>
      </tr>
      <tr>
        <td><p>In VS mode, each player will put in their own list of music.  Players will then compete to get the highest score.</p></td>
        <td><p>In Co-op mode, all players will work together to guess songs from a single group playlist.</p></td>
      </tr>
    </table>
  </body>
</html>